
* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(270deg, #FFFFFF 0%, #B3BBFF 0%, #DEF3FF 99.99%, #CCECFF 100%);
}
h1 {
    font-family: 'Aleo', serif;
    font-size: 48px;
    margin-bottom: 0;
    
}
h2 {
    font-family: 'Aleo', serif;
    font-size: 30;
    margin-bottom: 0;
}
.subtitle1 {
    font-family: 'Noto Sans', serif;
    font-size: 24px;
}
p {
    font-family: 'Noto Sans', serif;
    font-size: 16px;
}
a {
    text-decoration: none;
    font-size: 30px;
    color: #747070;
    font-family: 'Aleo', serif;
}
.navbar {
    align-items: flex-end;
}
.container-fluid {
    align-items: flex-end;
}
.nav-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.nav-item {
    padding-left: 1em;
    padding-right: 1em;
}
.case-study-intro {
    display: flex;
    justify-content: flex-start;
}
.hero {
    margin-top: 10%;
}
.case-study-name {
    margin-bottom: 15%;
}
.case-study-title {
    border: solid #FFD5C4;
    border-width: 3px;
    text-align: center;
    background: linear-gradient(270deg, #E6E8FF 2.08%, #E6E8FF 38.02%, #E6F6FF 68.23%, #E6F6FF 95.31%);
    display: inline-block;
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .7em;
    padding-bottom: .7em;
    z-index: 1;
    box-shadow: 6px 6px 6px rgba(209, 214, 255, 0.8);
}
.case-study-tag {
    border: solid #FFD5C4;
    border-width: 3px;
    text-align: center;
    background: linear-gradient(270deg, rgba(230, 232, 255, 0.9) 2.08%, rgba(230, 232, 255, 0.8) 38.02%, rgba(230, 246, 255, 0.8) 68.23%, rgba(230, 246, 255, 0.8) 95.31%);
    display: inline-block;
    padding-top: 1.5em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .3em;
    margin-top: -1.5em;
    z-index: -1;
}
.hero-mockup {
    width: 100%;
    border: solid #FFD5C4;
    border-width: 3px;
}
img {
    width: 100%;
    height: auto;
}
.overview-title {
    border: solid #FFD5C4;
    border-width: 3px;
    text-align: center;
    background: linear-gradient(270deg, #E6E8FF 2.08%, #E6E8FF 38.02%, #E6F6FF 68.23%, #E6F6FF 95.31%);
    display: inline-block;
    position: relative;
    padding-left: .7em;
    padding-right: .7em;
    padding-top: .5em;
    padding-bottom: .5em;
    z-index: 1;
    box-shadow: 6px 6px 6px rgba(209, 214, 255, 0.8);
}
.overview-des {
    border: solid #FFD5C4;
    border-width: 3px;
    text-align: left;
    background: linear-gradient(270deg, rgba(230, 232, 255, 0.9) 2.08%, rgba(230, 232, 255, 0.8) 38.02%, rgba(230, 246, 255, 0.8) 68.23%, rgba(230, 246, 255, 0.8) 95.31%);
    display: inline-block;
    padding-top: 2em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .3em;
    margin-top: -1.5em;
    z-index: -1;
}
.problem-solution {
    margin-top: 5%;
}
.problem-visual {
    width: 90%;
    border: solid #FFD5C4;
    border-width: 3px;
    margin-bottom: 3em;
}
.solution {
    display: inline-block;
    width: 90%;
    margin-left: 20%;
}
.solution-title {
    border: solid #FFD5C4;
    border-width: 3px;
    text-align: center;
    background: linear-gradient(270deg, #E6E8FF 2.08%, #E6E8FF 38.02%, #E6F6FF 68.23%, #E6F6FF 95.31%);
    display: inline-block;
    position: relative;
    padding-left: .7em;
    padding-right: .7em;
    padding-top: .5em;
    padding-bottom: .5em;
    z-index: 1;
    box-shadow: 6px 6px 6px rgba(209, 214, 255, 0.8);
}
.solution-des {
    border: solid #FFD5C4;
    border-width: 3px;
    text-align: left;
    background: linear-gradient(270deg, rgba(230, 232, 255, 0.9) 2.08%, rgba(230, 232, 255, 0.8) 38.02%, rgba(230, 246, 255, 0.8) 68.23%, rgba(230, 246, 255, 0.8) 95.31%);
    display: inline-block;
    padding-top: 2em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .3em;
    margin-top: -1.5em;
    z-index: -1;
}
.problem {
    width: 90%;
    margin-right: 20%;
}
.problem-title {
    border: solid #FFD5C4;
    border-width: 3px;
    text-align: center;
    background: linear-gradient(270deg, #E6E8FF 2.08%, #E6E8FF 38.02%, #E6F6FF 68.23%, #E6F6FF 95.31%);
    display: inline-block;
    position: relative;
    padding-left: .7em;
    padding-right: .7em;
    padding-top: .5em;
    padding-bottom: .5em;
    z-index: 1;
    box-shadow: 6px 6px 6px rgba(209, 214, 255, 0.8);
}
.problem-des {
    border: solid #FFD5C4;
    border-width: 3px;
    text-align: left;
    background: linear-gradient(270deg, rgba(230, 232, 255, 0.9) 2.08%, rgba(230, 232, 255, 0.8) 38.02%, rgba(230, 246, 255, 0.8) 68.23%, rgba(230, 246, 255, 0.8) 95.31%);
    display: inline-block;
    padding-top: 2em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .3em;
    margin-top: -1.5em;
    z-index: -1;
}
.solution-visual {
    width: 90%;
    height: auto;
    border: solid #FFD5C4;
    border-width: 3px;
    margin-top: 3em;
    margin-left: 3em;
}